$grayish: #D9D9D9;

nav {
  width: 100%;
  .navbar {
    background-color: $grayish;
    border-bottom: solid 1px black;
  }
  img {
    width: 40%;

    &:hover {
      cursor: pointer;
    }
  }
  #sign-up-button{
    background-color: #D9D9D9;
  }
}

